version: '2'

services:
  postgis:
    image: cartoview/cartoview-postgis:latest
    restart: always
    env_file:
      - ./postgis.env
    ports:
      - "5432:5432"
    volumes:
      - "./pgdata:/var/lib/postgresql"
  cartoview:
    command: bash -c "python server.py"
    restart: always
    image: cartoview/cartoview:latest
    ports:
      - "8000:8000"
    depends_on:
      - postgis
    env_file:
      - ./django.env
    volumes:
      - "./:/code/"
  geoserver:
    image: geonode/geoserver:2.9.x-oauth2
    restart: always
    volumes:
      - "./geoserver/data:/geoserver_data/data"
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    depends_on:
      - cartoview
      - geoserver
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
